In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import types

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

23/02/28 20:17:16 WARN Utils: Your hostname, padilha-A70-HYB resolves to a loopback address: 127.0.1.1; using 192.168.15.4 instead (on interface wlo1)
23/02/28 20:17:16 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/padilha/miniconda3/envs/de-zoomcamp-week5/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/02/28 20:17:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [4]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [5]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [6]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [7]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'ehail_fee',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'lpep_dropoff_datetime',
 'lpep_pickup_datetime',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance',
 'trip_type'}

In [8]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')
df_green.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [9]:
df_yellow = df_yellow \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')
df_yellow.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [10]:
common_columns = []
yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_columns.append(col)

In [11]:
common_columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [12]:
from pyspark.sql import functions as F

In [13]:
df_green_sel = \
    df_green \
    .select(common_columns) \
    .withColumn('service_type', F.lit('green'))

In [14]:
df_yellow_sel = \
    df_yellow \
    .select(common_columns) \
    .withColumn('service_type', F.lit('yellow'))

In [15]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [16]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|24648499|
+------------+--------+

In [17]:
df_trips_data.registerTempTable('trips_data')

/home/padilha/miniconda3/envs/de-zoomcamp-week5/lib/python3.9/site-packages/pyspark/sql/dataframe.py:138: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn(

In [20]:
spark.sql("""
SELECT
    service_type,
    count(1) as N
FROM
    trips_data
GROUP BY
    service_type;
""").show()

+------------+--------+
|service_type|       N|
+------------+--------+
|       green| 2304517|
|      yellow|24648499|
+------------+--------+

In [21]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [22]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|          74|2020-01-01 00:00:00|       green|    376352.900000001|              17171.5|                16234.5|         41357.12999999991|           6942.939999999918|                   10111.500000003209|           488720.6699999081|                            24845.25|        1.3112244897959184|      2.3658925852172863|
|          80|2020-01-01 00:00:00|       green|   40295.91000000005|              1360.25|                  736.5|                   4232.54|           628.6800000000003|                      566.40000000001|           48939.57999999978|                              1193.5|         1.448907265209687|        4.10109623015873|
|         157|2020-01-01 00:00:00|       green|   9307.449999999997|                544.0|                  101.0|                    269.89|                      200.44|                   109.79999999999959|           10590.23000000001|                               57.75|        1.2780748663101604|       4.799113300492608|
|         195|2020-01-01 00:00:00|       green|  11358.089999999998|                549.5|                  143.0|         804.6199999999999|          255.07000000000005|                   135.29999999999944|                    13429.33|                              129.25|         1.211726384364821|       4.585847619047622|
|          42|2019-12-01 00:00:00|       green|                 8.0|                  0.5|                    0.5|                      1.86|                         0.0|                                  0.3|                       13.11|                                 0.0|                       1.0|                    1.31|
|         188|2020-01-01 00:00:00|       green|   55506.92000000008|               4163.0|                  596.0|                    394.73|           722.8400000000005|                    708.9000000000098|           62224.38999999993|                               63.25|        1.1921458625525947|       3.930629238884707|
|         118|2020-01-01 00:00:00|       green|              533.73|                 11.5|                    2.0|                       0.0|                       82.58|                                  2.7|                      632.51|                                 0.0|                       1.4|      17.745555555555555|
|          75|2019-12-01 00:00:00|       green|                17.0|                  0.5|                    0.5|                       0.0|                         0.0|                                  0.3|                        18.3|                                 0.0|                       1.0|                    5.57|
|         124|2020-01-01 00:00:00|       green|   7916.269999999997|                464.5|                   52.5|                     15.56|           285.2700000000001|                    74.99999999999986|                      8809.1|                                 0.0|        1.0185185185185186|       7.090405904059042|
|         126|2020-01-01 00:00:00|       green|  11827.839999999993|               766.75|                  110.5|                    101.87|           458.2800000000002|                   145.19999999999933|          13425.340000000004|                                11.0|                     1.275|       5.187806691449813|
|         142|2020-01-01 00:00:00|       green|  2962.5000000000005|               173.75|                    7.5|                       0.0|           87.43999999999998|                   23.700000000000014|          3254.8899999999994|                                 0.0|                       1.0|       9.531012658227848|
|         111|2020-01-01 00:00:00|       green|  57.230000000000004|                 4.25|                    2.0|                       6.0|                         0.0|                                  1.5|                       70.98|                                 0.0|                       1.0|                   2.692|
|         250|2020-01-01 00:00:00|       green|  19288.010000000035|              1266.75|                  171.5|         47.57000000000001|           978.4800000000005|                   226.20000000000056|           21984.35999999995|                                 0.0|         1.355072463768116|      5.2756301531213206|
|         228|2020-01-01 00:00:00|       green|  20746.910000000025|              1187.25|                  227.0|        478.75000000000006|          414.59000000000015|                   235.80000000000067|          23459.549999999952|                              107.25|          1.19533527696793|       5.387118055555559|
|          18|2020-01-01 00:00:00|       green|   23890.94000000001|               1332.0|                  215.5|                    154.96|          1081.1000000000001|                   248.70000000000098|          26964.249999999935|                                16.5|         1.176991150442478|         6.2981008583691|
|          59|2020-01-01 00:00:00|       green|   701.9800000000001|                 49.5|                    5.5|                       0.0|                       42.12|                    7.499999999999998|                       806.6|                                 0.0|        1.5714285714285714|       5.361562500000001|
|          73|2020-01-01 00:00:00|       green|   4638.619999999999|                291.5|                   35.0|                     14.26|                        91.8|                    48.60000000000002|          5122.5300000000025|                                2.75|                       1.2|        5.33961111111111|
|         236|2020-01-01 00:00:00|       green|  13472.720000000001|                755.5|                  443.0|                   1573.13|          397.23000000000013|                    298.5000000000025|          18493.029999999933|                             1702.25|        1.4016203703703705|      3.1214737883283923|
|         254|2020-01-01 00:00:00|       green|   35814.50000000003|              2336.75|                  215.0|                     11.26|          1600.8499999999979|                    352.5000000000038|           40336.70999999986|                                 0.0|        1.2430939226519337|       7.236776669224853|
|          55|2020-01-01 00:00:00|       green|   66796.46999999997|              2658.25|                  589.5|        225.65999999999997|           1844.509999999995|                    541.5000000000091|           72709.69000000016|                               30.25|        1.5239206534422405|       9.333281553398063|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

Coalesce does the opposite of repartition. Instead of repartitioning data, it combines files into a predefined number (in this case 1).

In [24]:
df_result.coalesce(1).write.parquet('data/report/revenue/', mode='overwrite')